*
{
    margin: 0;
    padding: 0;
    font-family: 'poppins', 'sans-serif';
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-image: url(images/istockphoto-1167050865-612x612.png);
    background-position: center;
    background-size: cover;
    padding: 0 8%;

}
.content{
    top: 20%;
    left: 52%;
    position: absolute;
    transform: translateY(-20%);
    transform: translateX(-52%);
    color: #fff;
}
.content h1{
    font-size: 30px;
    font-weight: 600;
}
.content h1 span{
    color: #4C00FF;
}
.content h1 span1{
    color: #ff5050;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    top: 40px;
    right: 50%;
    transform: translateY(-40px);
    transform: translateX(-50%);
}
.content p {
    font-size: 45px;
    font-weight: 600;;
}
.content h2 {
    font-size: 50px;
    font-weight: 600;
}
.launch-time{
    display: flex;
    
    
    right: 40%;
   
    transform: translateX(-40%);
}
.launch-time div{
    flex-basis: 100px;
    top: 90%;
    transform: translateY(90%);
    margin-right: 45%;

}
.launch-time div h2{
    margin-bottom: 60px;
    color: #fffbb3;
}